.cart-display{
    position: absolute;
    width: 500px;
    height: calc(100vh - 56px);
    background-color: yellow;
    top:56px;
    right: 0;
    transition: 0.3s;
    transition-delay: visibility 0.3s;
    z-index: 99;
}

.cart-inactive{
    right:-500px !important;
    visibility: hidden;
}