.cart-display {
    position: absolute;
    width: 500px;
    height: calc(100vh - 56px);
    background-color: white;
    top: 56px;
    right: 0;
    transition: 0.3s;
    transition-delay: visibility 0.3s;
    z-index: 10;
    box-shadow: -5px 0px 5px -5px #000;
}

.cart-inactive {
    right: -500px !important;
    visibility: hidden;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 35px;
    height: 35px;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.closeBtn:hover {
    color: #007bff;
}

.hiddenMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: opacity 0.5s, visibility 0 0.5s;
}

.cart-header {
    margin-top: 24px;
    padding: 0 20px;
    width: calc(100% - 120px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-footer {
    padding-left: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-content {
    position: relative;
}

.cart-content hr {
    width: 92%;
    margin-left: 2.5%;
}